$-grey: #F0EDEE;
$-dark-grey: #5C5C5C;
$-yellow: #E2C99F;
$-yellow-hover: #C4A26A;
$-green: #71A076;
$-green-hover: #557C5A;
$-purple: #A484B9;
$-purple-hover: #8D61AA;
$-blue: #8B9FCB;
$-blue-hover: #5E78B1;
