@import 'mixins';
@import 'colors';

.project-nav {
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 560px;
    width: 1050px;
    .project-nav-list {
        margin-top: 20px;
        ul {
            height: 350px;
            list-style-type: circle;
            margin-left: 20px;
            column-count: 2;
            column-fill: auto;
        }
        li {
            color: #5C5C5C;
            @include os-font(20px);
            line-height: 1.8;
            &:hover {
                color: black;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .project-image {
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: 390px;
        height: 275px;
        border-radius: 30px;
        overflow: hidden;
        object-fit: cover;
    }
}

.all-projects {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .project {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .project-title {
            display: flex;
            background-color: white;
            padding: 30px;
            border-radius: 30px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            height: 100px;
            width: 1235px;
            justify-content: space-between;
            align-items: center;
            svg {
                height: 50px;
                width: 50px;
                fill: $-green;
                &:hover, &:focus {
                    fill: $-green-hover;
                    cursor: pointer;
                    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
                }
            }
            a {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            i {
                font-style: italic;
            }
        }
        .project-content {
            margin-top: 10px;
            height: 350px;
            width: 1235px;
            background-color: white;
            padding: 30px;
            border-radius: 30px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: grid;
            grid-template-columns: 3fr 7fr;
            grid-gap: 30px;
            img {
                height: 290px;
                border-radius: 30px;
                overflow: hidden;
                object-fit: cover;
            }
            .project-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .project-description {
                    @include os-font(18px);
                    line-height: 1.8;
                    text-align: justify;
                }
                .project-tags {
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    .tag {
                        padding: 5px 15px;
                        border-radius: 30px;
                        &.language {
                            background-color: $-yellow;
                        }
                        &.technology {
                            background-color: $-purple;
                        }
                        &.tool {
                            background-color: $-blue;
                        }
                    }
                }
            }
        }
    }
    .first {
        margin-top: 30px;
    }
}

.contact-container {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 1050px;
    height: 500px;
    margin-top: 60px;
    .contact-left {
        align-items: left;
        img {
            height: 200px;
            width: auto;
        }
    }
    .contact-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    input, textarea {
        border-radius: 30px;
        background: #D9DFDA;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 700px;
        height: 40px;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        @include os-font(18px);
    }
    input::placeholder, textarea::placeholder {
        color: $-dark-grey;
    }
    h2 {
        text-align: right;
    }
    .message {
        padding-top: 20px;
        height: 115px;
    }
    button {
        padding: 10px 60px;
        background: black;
        color: white;
        border-radius: 30px;
        text-align: center;
        @include os-font(22px);
        font-style: italic;
        font-weight: 600;
        margin-top: 20px;
        align-self: flex-end;
        width: auto;
        &:hover, &:focus {
            background: $-dark-grey;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }
    }
}