@import 'sass/reset';
@import 'sass/fonts';
@import 'sass/mixins';

body {
    background-color: lime;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    color: rgb(175, 0, 233);
}

.top-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, blue, yellow);
    padding: 10px;
    box-shadow: 10px 10px 20px hotpink;
    margin: 50px;
}
#name-title {
    font-family: "Ribeye Marrow", serif;
    color: orange;
    @include fontSize(80px);
    margin: 20px;
}
#name-title:hover, #name-title:focus {
    color: rgb(175, 0, 233);
    text-align: right;
}
#__disclaimer {
    color: white;
    margin: 10px;
    text-align: right;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.__headshot img{
    border-radius: 20%;
    border: 5px dotted hotpink;
    box-shadow: 10px 10px 20px lime;
    margin: 10px;
    width: 400px;
    height: auto;
}
.__headshot img:hover, .__headshot img:focus {
    cursor: crosshair;
}
.__portfolio-button button {
    font-family: "Ribeye Marrow", serif;
    background-color: cyan;
    color: white;
    padding: 20px;
    margin: 20px;
    @include fontSize(30px);
    border-radius: 0;
    box-shadow: 5px 5px 15px red;
}
.__portfolio-button button:hover, .__portfolio-button button:focus {
    background-color: hotpink;
    color: yellow;
    box-shadow: 5px 5px 15px black;
    cursor: crosshair;
}

.bottom-body {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    grid-template-rows: auto auto;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-image: url('https://i.pinimg.com/originals/e5/89/95/e5899572ecace2b0895b36db7703a001.gif');
}
.__books, .__destination, .__places-to-eat, .__quote, .__animals, .__socials {
    background-color: lime;
    padding: 10px;
    border: 15px dashed yellow;
    position: relative;
}
h2 {
    font-family: "Ribeye Marrow", serif;
    color: orange;
    @include fontSize(40px);
}
.__quote h2{
    font-family: 'Papyrus', sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
ul, ol {
    list-style-type: lower-greek;
}
#animals {
    background-color: cyan;
    color: white;
    box-shadow: 5px 5px 15px red;
    @include fontSize(30px);
}
#animals:hover, #animals:focus {
    background-color: hotpink;
    color: yellow;
    box-shadow: 5px 5px 15px black;
    cursor: crosshair;
}
a {
    color: hotpink;
    text-decoration: wavy underline;
}