/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
*/
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
  counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
       user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  -moz-user-select: auto;
       user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

body {
  background-color: #F0EDEE;
}

.web-body {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  font-family: "Roboto Mono", monospace;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
}

h4 {
  font-size: 17px;
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
}

p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.8;
}

.nav-bar {
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nav-bar nav {
  padding: 0px 80px 20px 80px;
}
.nav-bar nav .name-logo {
  height: 85px;
  margin-top: 40px;
}
.nav-bar nav .star-logo {
  height: 130px;
  margin-top: 20px;
  float: right;
}
.nav-bar nav #nav-links {
  font-size: 22px;
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
  color: #5C5C5C;
  display: flex;
  justify-content: space-between;
  padding-right: 850px;
}
.nav-bar nav #nav-links li {
  list-style-type: none;
  display: inline;
}
.nav-bar nav #nav-links a:hover, .nav-bar nav #nav-links a:focus {
  color: black;
  text-decoration: underline;
}

.skills-details {
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.8;
}

.tag {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}

.intro {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 500px;
  width: 1050px;
}
.intro .intro-right {
  width: 275px;
  height: 260px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.intro .intro-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% -45px;
     object-position: 50% -45px;
  border-radius: 30px;
}/*# sourceMappingURL=style.css.map */