@import 'sass/reset';
@import 'sass/mixins';
@import 'sass/colors';

body {
    background-color: $-grey;
}
.web-body {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    @include rm-font();
}
h2 {
    @include rm-font();
}
h3 {
    @include os-font(24px);
}
h4 {
    @include os-font(17px);
    font-weight: 600;
    font-style: italic;
}
p {
    @include os-font();
    line-height: 1.8;
}

.nav-bar {
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    nav {
        padding: 0px 80px 20px 80px;
        .name-logo {
            height: 85px;
            margin-top: 40px;
        }
        .star-logo {
            height: 130px;
            margin-top: 20px;
            float: right;
        }
        #nav-links {
            @include os-font(22px);
            color: $-dark-grey;
            display: flex;
            justify-content: space-between;
            padding-right: 850px;
            li {
                list-style-type: none;
                display: inline;
            }
            a {
                &:hover, &:focus {
                    color: black;
                    text-decoration: underline;
                }
            }
        }
    }
}

@import 'sass/home';